// ---
// mediaQueries
// ---


// Break Point
$desktop: 1600px;
$laptop: 997px; //사용
$tablet: 769px; //사용
$mobile: 540px;

// ---------- * ----------

// Desktop
@mixin res--desktop {
  @media screen and (max-width: #{$desktop}) {
    @content;
  }
}


// Laptop
@mixin res--laptop {
  @media screen and (max-width: #{$laptop}) {
    @content;
  }
}

// Tablet
@mixin res--tablet {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

// Mobile
@mixin res--mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

