header {
  --header-height: 44px;
  background-color: var(--color-header);
  position: relative;

  z-index: 9;
  &.searching{
    .menu >li{
      transform: scale(0.7);
      opacity: 0;
    }
  }

  // 메뉴
  .menu {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);

    >li {
      display: flex;
      position: relative;
      cursor: pointer;
      transition: 0.4s;

      &:not(.menu-starter){
        >a {
          display: flex;
          align-items: center;
          padding: 0 10px;
          font-size: 11px;
          color: var(--color-font-lightgray);
          opacity: 0.8;
        }
  
        &.apple-logo,
        &.search-starter,
        &.basket-starter {
          >a {
            width: 14px;
            text-indent: -9999px;
            background-repeat: no-repeat;
            background-position: center 13px;
          }
        }
  
        &.apple-logo {
          >a {
            background-image: url("../images/header_apple.svg");
          }
        }
  
        &.search-starter {
          >a {
            background-image: url("../images/header_search.svg");
          }
        }
  
        &.basket-starter {
          >a {
            background-image: url("../images/header_bag.svg");
          }
        }
      }
    }
  }
}

.menu-starter{
  display: none!important;
}


// 검색
.search-starter {
  @at-root .search-wrap {
    overflow: 1;
    visibility: hidden;
    transition: opacity 0.4s;
    transition-delay: 2;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .searching & {
      opacity: 1;
      visibility: visible;

      .search {

        .textfield input,
        .search-icon,
        .autocompletes h3,
        .autocompletes li {
          transform: translateX(0);
        }
      }
    }

    .search {
      max-width: 680px;
      margin: 0 auto;
      position: relative;
      z-index: 1038;
      .shadow {
        width: 100%;
        height: 100%;
        background-color: var(--color-shadow);
        position: fixed;
        top: var(--header-height);
        left: 0;
      }

      .textfield {
        position: relative;

        input {
          width: 100%;
          height: var(--header-height);
          padding: 0 40px;
          border: none;
          outline: none;
          box-sizing: border-box;
          background-color: transparent;
          font-size: 17px;
          color: var(--color-white);

          transition: 0.6s;
          transform: translateX(100px);
        }

        @at-root.search-icon {
          width: 40px;
          height: var(--header-height);
          background: url("../images/header_search.svg") no-repeat center;
          position: absolute;
          left: 0;
          top: 0;
          transition: 0.6s;
          transform: translateX(100px);
        }

        @at-root.search-closer {
          width: 40px;
          height: var(--header-height);
          background: url("../images/header_close.svg") no-repeat center;
          position: absolute;
          top: 0;
          right: 0;
          opacity: 0.4;
          transition: opacity 0.4s;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }

      .autocompletes {
        background: var(--color-white);
        max-width: 680px;
        margin: 0 auto;
        position: relative;
        border-radius: 0 0 18px 18px;
        padding: 20px; 

        h3 {
          margin: 1.2rem 1rem 1rem 1.2rem;
          transition: 0.6s;
          transform: translateX(100px);
        }

        li {
          transition: 0.6s;
          transform: translateX(100px);

          a {
            padding: 1rem;
            display: block;

            &:hover {
              background-color: var(--color-font-lightgray);
              color: var(--color-link);
            }
          }
        }
      }
    }
  }
}

// 장바구니
.basket-starter {
  position: relative;

  @at-root .basket {
    width: 290px;
    padding: 10px 20px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--color-white);
    position: absolute;
    top: calc(100% + 4px);
    right: -6px;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;

    .arrow {
      width: 20px;
      height: 10px;
      overflow: hidden;
      position: absolute;
      top: -10px;
      right: 12px;

      &::before {
        content: "";
        width: 12px;
        height: 12px;
        border: 1px solid var(--color-border);
        background-color: var(--color-white);
        transform: rotate(45deg);
        transform-origin: 0 0;
        position: absolute;
        top: 0;
        left: 50%;
      }
    }

    &.show {
      visibility: visible;
      opacity: 1;
    }

    .message {
      padding: 30px 0;
      font-size: 13px;
      color: var(--color-font-darkgray);
      text-align: center;
    }

    ul {
      margin-top: 10px;

      li {
        border-top: 1px solid var(--color-border);

        a {
          display: block;
          padding: 14px;
          font-size: 13px;
          color: var(--color-link);

          &:hover { 
            text-decoration: underline;
          }
        }
      }
    }
  }
}
