

.inner {
  max-width: 996px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  @include  res--laptop{
  max-width: none;
  height: var(--header-height);
  }

}


section{
  padding:5.5rem 0;
}