
// 네브
nav {
  --nav-height: 52px;
  border-bottom: 1px solid var(--color-border);
  background-color: rgba(255, 255, 255, .7);
  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  z-index: 8;

  .inner {
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  h1 {
    flex-grow: 1;
    font-weight: bold;
  }

  .menu {
    display: flex;
    gap: 0.85rem;
    margin-right: 0.75rem;
    li {
      a {
        font-size: 0.75rem;
        color: var(--color-font-darkgray);

        &:hover {
          color: var(--color-link);
        }
      }
    }
  }
}
